<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="#">Navbar</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
		aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Features</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Pricing</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">About</a>
			</li>
		</ul>
		<!-- <div *ngIf="loggedIn()" class="dropdown" dropdown>
			<span class="mr-1">
			  <img src="{{photoUrl || '../../assets/user.png'}}" alt="">
			</span>
			<a class="dropdown-toggle text-light" dropdownToggle>
			  Welcome
			</a>
	  
			<div class="dropdown-menu mt-3" *dropdownMenu>
			  <a class="dropdown-item" [routerLink]="['/member/edit']">
				<i class="fa fa-user"></i> Edit Profile</a>
			  <div class="dropdown-divider"></div>
			  <a class="dropdown-item" (click)="logout()">
				<i class="fa fa-sign-out"></i> Logout</a>
			</div>
		  </div> -->
		<form *ngIf="loggedIn()" class="form-inline my-2 my-lg-0" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<input class="form-control mr-sm-2" type="text" placeholder="Email" formControlName="email">
			<input class="form-control mr-sm-2" type="password" placeholder="Пароль" formControlName="password">
			<button class="btn btn-secondary my-2 my-sm-0" type="submit">Войти</button>
		</form>
	</div>
</nav>