  <div class="admin-component-container">
    <div class="text-center">
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-signin"><img class="mb-4 logo-image"
          src="/assets/adminlogo.jpg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Введите учётные данные</h1>
        <label for="inputEmail" class="sr-only">Логин</label>
        <input type="email" formControlName="email" class="form-control mb-2" placeholder="Логин" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input type="password" formControlName="password" class="form-control mb-2" placeholder="Пароль" required="">
        <div class="checkbox mb-3">
          <!-- <label>
					  <input type="checkbox" value="remember-me"> Remember me
				  </label> -->
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        <!-- <p class="mt-5 mb-3 text-muted">© 2017-2019</p> -->
      </form>
    </div>
  </div>
